<div #div1>
  <div class="row justify-content-md-center mb-4 margintop-10">
    <input class="number" [(ngModel)]=subfolder placeholder="Ordner"/>
    <button mat-flat-button color="accent" type="button" class="btn" (click)="loadImagesFromStorage()">Bilder laden</button>
    <!--<input [(ngModel)]=filePath placeholder="Path"/>-->
    <button mat-flat-button color="primary" type="button" class="btn" (click)="previousImage()">Vorheriges Bild</button>
    <button mat-flat-button color="primary" type="button" class="btn" (click)="nextImage()">Nächstes Bild</button>
    <p>({{index - 1}}/{{annotationsToShow.length - 1}})</p>
    <button mat-flat-button color="accent" type="button" class="btn" (click)="save()">Speichern</button>
    <button mat-flat-button color="accent" type="button" class="btn" (click)="saveForMLkit()">Exportieren</button>
    <button mat-flat-button color="warn" type="button" class="btn" (click)="deleteImage()">Löschen</button>
    <!--<button mat-flat-button color="primary" type="button" class="btn" (click)="addBoxesToAnnotations()">Laden der CSV-Daten</button>-->
    <!--<button mat-flat-button color="primary" type="button" class="btn" (click)="getTagsForMLKIT()">Laden der Bildergröße</button>-->
    <!--<select [(ngModel)]="selectedTag" (change)="sortImages()">
      <option value="all">All</option>
      <option value="noTag">no Tag</option>
      <option *ngFor="let tag of tagList" value="{{tag.tagName}}">{{tag.tagName}}</option>
    </select>-->
    <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
      <input type="text" class="wide"
            placeholder="Bilder nach Tag filtern"
            [formControl]="autoCompleteControl"
            [matAutocomplete]="auto"
            [matAutocompleteConnectedTo]="origin">
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='setSelectedTag($event.option.value)'>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </div>
</div>

<div style="position: relative; text-align: center;">    
  <canvas #layer1 id="layer1" 
   style="position: relative;"></canvas>
</div>

<div class="container text-left">
  <table annotationTable>
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tr *ngFor="let b of boundingBoxes">
      <td>
        <input class="number" [(ngModel)]=b.x1 placeholder="x1"/>
      </td>
      <td>
        <input class="number" [(ngModel)]=b.x2 placeholder="x2"/>
      </td>
      <td>
        <input class="number" [(ngModel)]=b.y1 placeholder="y1"/>
      </td>
      <td>
        <input class="number" [(ngModel)]=b.y2 placeholder="y2"/>
      </td>
      <td>
        <input [(ngModel)]=b.bildName placeholder="Bild"/>
      </td>
      <td>
        <input [(ngModel)]=b.essen placeholder="Tag"/>
      </td>
      <td>
        <button type="button" class="btn" (click)="delete(b)">Löschen</button>    
      </td>
    </tr>
  </table>
</div>

<div #div2>
  <br><br>
  <div class="row justify-content-md-center mb-4">
    <label for="file">Bild-Upload ({{uploadedFiles}}/{{totalUploadFiles}} hochgeladen):</label>
  <input type="file" multiple (change)="upload($event)" accept=".png,.jpg"/>
  </div>
  <!--<div class="row justify-content-md-center mb-4">
    <label for="file">CSV-Datei hochladen (von lokalen Dateien)</label>
    <input type="file" #csvReader name="CSV hochladen" id="txtFileUpload" (change)="uploadListenerCSV($event)" accept=".csv" />
  </div>-->
  <div class="row justify-content-md-center mb-4">
    <label for="file">CSV-Datei ML KIT hochladen (von lokalen Dateien)</label>
    <input type="file" #csvReader name="CSV hochladen" id="txtFileUpload" (change)="uploadCSVfromMLKIT($event)" accept=".csv" />
    <button mat-flat-button color="accent" type="button" class="btn" (click)="addBoxesToAnnotationsMLKIT()">Laden der CSV-Daten (ML Kit-Format)</button>
  </div>
  
  <div class="row justify-content-md-center mb-4" style="display: none;">
    <p>{{name}}</p>
    <p>{{indexText}}</p>
    <p>{{initText}}</p>
  </div>
</div>
